[Unit]
Description=Daily SpaceY PostgreSQL backup schedule

[Timer]
OnCalendar=*-*-* 02:17:00 UTC
RandomizedDelaySec=20m
Persistent=true
AccuracySec=1m
Unit=spacey-postgres-backup.service

[Install]
WantedBy=timers.target
