openapi: 3.1.1
info:
  title: SpaceY Private Admin API
  version: 1.0.0
  description: Private-ingress, fail-closed admin foundation. Authenticated mutations require WebAuthn-backed session, exact Origin, double-submit CSRF, RBAC and atomic immutable audit.
  license: { name: Proprietary, identifier: LicenseRef-SpaceY-Proprietary }
servers:
  - url: https://admin-api.spacey.aima.space/internal/admin/v1
security:
  - adminSession: []
paths:
  /health:
    get:
      operationId: getAdminHealth
      summary: Check admin API process liveness
      security: []
      responses:
        "200": { description: Process liveness. }
        "429": { description: Distributed rate limit exceeded. }
  /ready:
    get:
      operationId: getAdminReadiness
      summary: Check mandatory private dependencies
      security: []
      responses:
        "200": { description: "PostgreSQL, WebAuthn, TOTP recovery and Valkey rate-limit adapters are ready." }
        "429": { description: Distributed rate limit exceeded. }
        "503": { description: One or more mandatory private dependencies are not configured. }
  /session:
    get:
      operationId: getAdminSession
      summary: Read the current admin principal
      responses:
        "200": { description: "Current admin principal, role and permissions." }
        "401": { description: Admin session missing or invalid. }
  /session/logout:
    post:
      operationId: revokeCurrentAdminSession
      summary: Revoke the current admin session and clear host-only cookies
      parameters: [{ $ref: "#/components/parameters/CsrfToken" }]
      responses:
        "201": { description: Current database session revoked and browser cookies expired. }
        "401": { description: Admin session missing or invalid. }
        "403": { description: Origin or CSRF validation failed. }
  /content/releases:
    get:
      operationId: listContentReleases
      summary: List the most recent content releases and definition counts
      responses:
        "200":
          description: Up to 100 draft, published and retired releases.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [releases]
                properties:
                  releases:
                    type: array
                    items: { $ref: "#/components/schemas/ContentRelease" }
        "401": { description: Admin session missing or invalid. }
        "403": { description: "Origin or content:read permission rejected." }
  /content/releases/{releaseId}/revisions:
    get:
      operationId: listContentReleaseRevisions
      summary: Read immutable release and definition revision history
      parameters: [{ $ref: "#/components/parameters/ReleaseId" }]
      responses:
        "200":
          description: Latest 100 release audit or definition revision records.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/ContentHistoryEntry" }
        "401": { description: Admin session missing or invalid. }
        "403": { description: "Origin or content:read permission rejected." }
        "404": { description: Release not found. }
  /content/releases/{releaseId}/validate:
    post:
      operationId: validateContentRelease
      summary: Validate a draft and preview its canonical configuration hash
      parameters:
        - $ref: "#/components/parameters/ReleaseId"
        - $ref: "#/components/parameters/CsrfToken"
      responses:
        "201":
          description: Semantic validation result; invalid content is returned as violations without mutation.
          content: { application/json: { schema: { $ref: "#/components/schemas/ContentValidationResult" } } }
        "401": { description: Admin session missing or invalid. }
        "403": { description: "Origin, CSRF or content:read permission rejected." }
        "409": { description: Release is not a draft. }
        "404": { description: Release not found. }
  /content/releases/{releaseId}/clone:
    post:
      operationId: clonePublishedContentRelease
      summary: Clone an immutable published or retired release into a new draft
      parameters:
        - $ref: "#/components/parameters/ReleaseId"
        - $ref: "#/components/parameters/CsrfToken"
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/CloneContentRelease" } } }
      responses:
        "201": { description: New draft and immutable audit committed atomically. }
        "401": { description: Admin session missing or invalid. }
        "403": { description: "Origin, CSRF or content:write permission rejected." }
        "409": { description: Source is a draft or target version already exists. }
        "422": { description: Source contains an invalid cross-release reference. }
  /content/releases/{releaseId}/rollback:
    post:
      operationId: rollbackContentReleaseAsDraft
      summary: Create a new audited draft from a prior immutable release
      parameters:
        - $ref: "#/components/parameters/ReleaseId"
        - $ref: "#/components/parameters/CsrfToken"
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/CloneContentRelease" } } }
      responses:
        "201": { description: Rollback draft created; prior release history remains unchanged. }
        "401": { description: Admin session missing or invalid. }
        "403": { description: "Origin, CSRF or content:write permission rejected." }
        "409": { description: Source is a draft or target version already exists. }
  /content/releases/{releaseId}/publish:
    post:
      operationId: publishContentRelease
      summary: Atomically validate and publish a draft while retiring the previous release
      parameters:
        - $ref: "#/components/parameters/ReleaseId"
        - $ref: "#/components/parameters/CsrfToken"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [reason]
              properties:
                reason: { type: string, minLength: 1, maxLength: 500 }
      responses:
        "201": { description: "Canonical hash, publication, prior retirement, audit and outbox event committed atomically." }
        "401": { description: Admin session missing or invalid. }
        "403": { description: "Origin, CSRF or content:write permission rejected." }
        "409": { description: Release is no longer a draft. }
        "422": { description: Semantic validation failed; response contains violations. }
  /auth/webauthn/authentication/options:
    post:
      operationId: beginAdminWebAuthnAuthentication
      summary: Create a single-use five-minute WebAuthn authentication challenge
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [loginHint]
              properties:
                loginHint: { type: string, format: email, maxLength: 320 }
      responses:
        "201":
          description: Challenge ID plus PublicKeyCredentialRequestOptionsJSON.
          content: { application/json: { schema: { $ref: "#/components/schemas/WebAuthnOptions" } } }
        "400": { description: Invalid login hint. }
        "429": { description: Authentication rate limit exceeded. }
  /auth/webauthn/authentication/verify:
    post:
      operationId: finishAdminWebAuthnAuthentication
      summary: Verify WebAuthn assertion and issue a rotating opaque admin session
      security: []
      requestBody:
        required: true
        content:
          application/json: { schema: { $ref: "#/components/schemas/WebAuthnVerification" } }
      responses:
        "201":
          description: WebAuthn verified; Secure HttpOnly session and double-submit CSRF cookies issued.
          headers:
            Set-Cookie: { schema: { type: string } }
        "400": { description: Challenge or credential payload is invalid. }
        "401": { description: Challenge expired/consumed or assertion verification failed. }
        "429": { description: Authentication rate limit exceeded. }
  /auth/webauthn/registration/options:
    post:
      operationId: beginAdminWebAuthnRegistration
      summary: Begin registration of another WebAuthn credential for the current admin
      parameters: [{ $ref: "#/components/parameters/CsrfToken" }]
      responses:
        "201":
          description: Challenge ID plus PublicKeyCredentialCreationOptionsJSON.
          content: { application/json: { schema: { $ref: "#/components/schemas/WebAuthnOptions" } } }
        "401": { description: Admin session missing or invalid. }
        "403": { description: Origin or CSRF validation failed. }
  /auth/webauthn/registration/verify:
    post:
      operationId: finishAdminWebAuthnRegistration
      summary: Verify attestation and persist the credential public key
      parameters: [{ $ref: "#/components/parameters/CsrfToken" }]
      requestBody:
        required: true
        content:
          application/json: { schema: { $ref: "#/components/schemas/WebAuthnVerification" } }
      responses:
        "201": { description: Credential registered with required user verification. }
        "400": { description: Challenge or credential payload is invalid. }
        "401": { description: Admin session missing or challenge expired/consumed. }
        "403": { description: "Origin, CSRF or attestation verification failed." }
  /auth/recovery/totp:
    post:
      operationId: recoverAdminSessionWithTotp
      summary: Recovery-only TOTP authentication with distributed and account lockout
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [loginHint, code]
              properties:
                loginHint: { type: string, format: email, maxLength: 320 }
                code: { type: string, pattern: "^[0-9]{6}$" }
      responses:
        "201": { description: Recovery session and immutable audit committed; host-only session/CSRF cookies issued. }
        "400": { description: Invalid recovery payload. }
        "401": { description: "Generic invalid, replayed or locked recovery credential response." }
        "429": { description: Distributed Valkey authentication limit exceeded. }
        "503": { description: "Recovery cipher, PostgreSQL or Valkey is unavailable." }
  /auth/recovery/code:
    post:
      operationId: recoverAdminSessionWithSingleUseCode
      summary: Consume one hashed recovery code and issue a recovery-only session
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [loginHint, recoveryCode]
              properties:
                loginHint: { type: string, format: email, maxLength: 320 }
                recoveryCode: { type: string, minLength: 10, maxLength: 128 }
      responses:
        "201": { description: Recovery code consumed atomically with session issuance and immutable audit. }
        "400": { description: Invalid recovery payload. }
        "401": { description: "Generic invalid, consumed or locked recovery credential response." }
        "429": { description: Distributed Valkey authentication limit exceeded. }
        "503": { description: PostgreSQL or Valkey is unavailable. }
  /mutations/content:
    post:
      operationId: applyContentRevision
      summary: Apply an audited content revision
      parameters:
        - $ref: "#/components/parameters/CsrfToken"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [resourceType, resourceId, expectedRevision, payload, reason]
              properties:
                resourceType: { enum: [mission, module, enemy, drop-table] }
                resourceId: { type: string, format: uuid }
                expectedRevision: { type: integer, minimum: 0 }
                payload: { type: object, additionalProperties: true }
                reason: { type: string, minLength: 1, maxLength: 500 }
      responses:
        "201": { description: Content revision and immutable audit committed atomically. }
        "401": { description: Admin session missing or invalid. }
        "403": { description: "Origin, CSRF or content:write permission rejected." }
        "503": { description: Persistence adapter is not ready. }
  /mutations/economy/adjustments:
    post:
      operationId: createEconomyAdjustment
      summary: Apply an audited wallet adjustment
      parameters:
        - $ref: "#/components/parameters/CsrfToken"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [playerId, currency, amount, idempotencyKey, caseId, reason]
              properties:
                playerId: { type: string, format: uuid }
                currency: { enum: [credits, scrap, alloy, dataShards] }
                amount: { type: integer, minimum: -1000000000, maximum: 1000000000, not: { const: 0 } }
                idempotencyKey: { type: string, format: uuid }
                caseId: { type: string, minLength: 1, maxLength: 120 }
                reason: { type: string, minLength: 1, maxLength: 500 }
      responses:
        "201": { description: Wallet ledger entry and immutable audit committed atomically. }
        "401": { description: Admin session missing or invalid. }
        "403": { description: "Origin, CSRF or economy:adjust permission rejected." }
        "503": { description: Persistence adapter is not ready. }
components:
  parameters:
    CsrfToken:
      name: X-CSRF-Token
      in: header
      required: true
      schema: { type: string, minLength: 32 }
    ReleaseId:
      name: releaseId
      in: path
      required: true
      schema: { type: string, format: uuid }
  securitySchemes:
    adminSession:
      type: apiKey
      in: cookie
      name: __Host-spacey_admin_session
  schemas:
    WebAuthnOptions:
      type: object
      required: [challengeId, expiresAt, publicKeyOptions]
      properties:
        challengeId: { type: string, format: uuid }
        expiresAt: { type: string, format: date-time }
        publicKeyOptions: { type: object, additionalProperties: true }
    WebAuthnVerification:
      type: object
      additionalProperties: false
      required: [challengeId, credential]
      properties:
        challengeId: { type: string, format: uuid }
        credential: { type: object, additionalProperties: true }
    CloneContentRelease:
      type: object
      additionalProperties: false
      required: [version, reason]
      properties:
        version: { type: string, pattern: "^[A-Za-z0-9][A-Za-z0-9._-]{2,79}$" }
        reason: { type: string, minLength: 1, maxLength: 500 }
    ContentRelease:
      type: object
      additionalProperties: false
      required: [id, version, status, configHash, schemaVersion, publishedAt, createdAt, updatedAt, counts]
      properties:
        id: { type: string, format: uuid }
        version: { type: string }
        status: { enum: [DRAFT, PUBLISHED, RETIRED] }
        configHash: { type: string, pattern: "^[a-f0-9]{64}$" }
        schemaVersion: { type: integer, minimum: 1 }
        notes: { type: [string, "null"] }
        publishedAt: { type: [string, "null"], format: date-time }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        counts:
          type: object
          additionalProperties: false
          required: [missions, modules, enemies, dropTables]
          properties:
            missions: { type: integer, minimum: 0 }
            modules: { type: integer, minimum: 0 }
            enemies: { type: integer, minimum: 0 }
            dropTables: { type: integer, minimum: 0 }
    ContentValidationResult:
      type: object
      additionalProperties: false
      required: [releaseId, valid, configHash, simulationVersion, violations]
      properties:
        releaseId: { type: string, format: uuid }
        valid: { type: boolean }
        configHash: { type: string, pattern: "^[a-f0-9]{64}$" }
        simulationVersion: { type: string, pattern: "^[0-9]+\\.[0-9]+\\.[0-9]+$" }
        violations:
          type: array
          items:
            type: object
            additionalProperties: false
            required: [code, path, message]
            properties:
              code: { type: string }
              path: { type: string }
              message: { type: string }
    ContentHistoryEntry:
      type: object
      additionalProperties: false
      required: [kind, action, resourceType, resourceId, revision, reason, actorAdminId, correlationId, before, after, createdAt]
      properties:
        kind: { enum: [release, definition] }
        action: { type: string }
        resourceType: { type: string }
        resourceId: { type: string }
        revision: { type: [integer, "null"], minimum: 1 }
        reason: { type: string }
        actorAdminId: { type: [string, "null"], format: uuid }
        correlationId: { type: [string, "null"], format: uuid }
        before: true
        after: true
        createdAt: { type: string, format: date-time }
