openapi: 3.1.1
info:
  title: SpaceY Player and Public API
  version: 1.0.0
  description: Server-authoritative player API and read-only partner API. Gameplay completion is never accepted from clients.
  license: { name: Proprietary, identifier: LicenseRef-SpaceY-Proprietary }
servers:
  - url: https://spacey.aima.space
tags:
  - name: Auth
    description: Telegram identity and rotating player sessions.
  - name: Player
    description: Player-owned state and immutable build revisions.
  - name: Battles
    description: Authoritative attempts, tickets and reconnect state.
  - name: PvP
    description: Server-authoritative matchmaking, participant tickets, reconnect and realtime duels.
  - name: Privacy
    description: EU privacy preferences and durable export/deletion workflows.
  - name: Developer
    description: Owner-scoped Public API credentials and signed webhook onboarding.
  - name: Public
    description: Scoped, quota-controlled partner reads.
paths:
  /api/v1/auth/telegram:
    post:
      tags: [Auth]
      operationId: authenticateTelegram
      summary: Authenticate raw Telegram Mini App initData
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [initData]
              properties:
                initData: { type: string, minLength: 1, maxLength: 16384 }
      responses:
        "200":
          description: Authenticated; rotating refresh token is returned only as a Secure HttpOnly cookie.
          headers:
            Set-Cookie: { schema: { type: string } }
          content:
            application/json: { schema: { $ref: "#/components/schemas/AuthSession" } }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /api/v1/auth/refresh:
    post:
      tags: [Auth]
      operationId: refreshPlayerSession
      summary: Rotate the player refresh session
      security: [{ refreshCookie: [] }]
      responses:
        "200":
          description: Rotated refresh session.
          content:
            application/json: { schema: { $ref: "#/components/schemas/RefreshSession" } }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /api/v1/auth/logout:
    post:
      tags: [Auth]
      operationId: logoutPlayerSession
      summary: Revoke the current refresh session
      security: [{ refreshCookie: [] }]
      responses:
        "200": { $ref: "#/components/responses/Ok" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /api/v1/auth/logout-all:
    post:
      tags: [Auth]
      operationId: logoutAllPlayerSessions
      summary: Revoke all player refresh sessions
      security: [{ playerAccess: [] }]
      responses:
        "200": { $ref: "#/components/responses/Ok" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /api/v1/bootstrap:
    get:
      tags: [Player]
      operationId: getPlayerBootstrap
      summary: Read current server-owned player state
      security: [{ playerAccess: [] }]
      responses:
        "200":
          description: Current server-owned profile, economy, content and build state.
          content:
            application/json: { schema: { $ref: "#/components/schemas/Bootstrap" } }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /api/v1/builds/{buildId}/commands:
    put:
      tags: [Player]
      operationId: applyShipBuildCommands
      summary: Apply commands as a new immutable build revision
      security: [{ playerAccess: [] }]
      parameters:
        - $ref: "#/components/parameters/BuildId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/BuildCommands" }
      responses:
        "200":
          description: New immutable build revision.
          content:
            application/json: { schema: { $ref: "#/components/schemas/ShipBuild" } }
        "409": { $ref: "#/components/responses/Conflict" }
  /api/v1/builds/legacy-import-proposals:
    post:
      tags: [Player]
      operationId: importLegacyBuildV3
      summary: Import one legacy schema-v3 build
      description: One-time build-only import. Wallet, rewards and mission results are ignored.
      security: [{ playerAccess: [] }]
      requestBody:
        required: true
        content:
          application/json: { schema: { $ref: "#/components/schemas/LegacyBuildImport" } }
      responses:
        "200": { description: Imported or previously imported build. }
        "409": { $ref: "#/components/responses/Conflict" }
  /api/v1/mission-attempts:
    post:
      tags: [Battles]
      operationId: createMissionAttempt
      summary: Create an authoritative PvE attempt
      security: [{ playerAccess: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [missionId, shipBuildRevisionId, idempotencyKey]
              properties:
                missionId: { type: string }
                shipBuildRevisionId: { type: string, format: uuid }
                idempotencyKey: { type: string, minLength: 16, maxLength: 128 }
      responses:
        "201":
          description: Server-owned attempt created. A one-time ticket is issued only by the connection endpoint.
          content:
            application/json: { schema: { $ref: "#/components/schemas/MissionAttemptStatus" } }
        "422": { $ref: "#/components/responses/Conflict" }
  /api/v1/mission-attempts/{attemptId}:
    get:
      tags: [Battles]
      operationId: getMissionAttempt
      summary: Read attempt and reconnect status
      security: [{ playerAccess: [] }]
      parameters:
        - name: attemptId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Authoritative attempt/reconnect/result status.
          content:
            application/json: { schema: { $ref: "#/components/schemas/MissionAttemptStatus" } }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/mission-attempts/{attemptId}/reconnect:
    post:
      tags: [Battles]
      operationId: reconnectMissionAttempt
      summary: Issue a fresh one-time reconnect ticket
      security: [{ playerAccess: [] }]
      parameters:
        - name: attemptId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "201":
          description: Fresh one-time reconnect ticket for an owned resumable attempt.
          content:
            application/json: { schema: { $ref: "#/components/schemas/BattleConnection" } }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/mission-attempts/{attemptId}/connection:
    post:
      tags: [Battles]
      operationId: createMissionAttemptConnection
      summary: Rotate and issue a one-time PvE connection ticket
      security: [{ playerAccess: [] }]
      parameters:
        - name: attemptId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "201":
          description: Fresh one-time ticket; any previous ticket is revoked.
          content:
            application/json: { schema: { $ref: "#/components/schemas/BattleConnection" } }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/mission-attempts/{attemptId}/abandon:
    post:
      tags: [Battles]
      operationId: abandonMissionAttempt
      summary: Abandon an owned unfinished PvE attempt
      security: [{ playerAccess: [] }]
      parameters:
        - name: attemptId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "201":
          description: Attempt is terminal and no longer holds the build.
          content:
            application/json: { schema: { $ref: "#/components/schemas/MissionAttemptStatus" } }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/battle-results:
    get:
      tags: [Battles]
      operationId: listBattleResults
      summary: List owned authoritative battle results
      security: [{ playerAccess: [] }]
      parameters:
        - name: cursor
          in: query
          schema: { type: string, format: uuid }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 50, default: 20 }
      responses:
        "200":
          description: Cursor page ordered by finalization time.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [items, nextCursor]
                properties:
                  items: { type: array, items: { $ref: "#/components/schemas/BattleResult" } }
                  nextCursor: { type: [string, "null"], format: uuid }
  /api/v1/battle-results/{resultId}:
    get:
      tags: [Battles]
      operationId: getBattleResult
      summary: Read one owned authoritative battle result
      security: [{ playerAccess: [] }]
      parameters:
        - name: resultId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Durable result, rewards, damage, progression and replay status.
          content:
            application/json: { schema: { $ref: "#/components/schemas/BattleResult" } }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/repairs/quotes:
    post:
      tags: [Player]
      operationId: createRepairQuote
      summary: Quote a full repair from immutable module content
      security: [{ playerAccess: [] }]
      requestBody:
        required: true
        content:
          application/json: { schema: { $ref: "#/components/schemas/CreateRepairQuote" } }
      responses:
        "201":
          description: Five-minute quote bound to item durability and request hash.
          content:
            application/json: { schema: { $ref: "#/components/schemas/RepairQuote" } }
        "409": { $ref: "#/components/responses/Conflict" }
  /api/v1/repairs:
    post:
      tags: [Player]
      operationId: commitRepair
      summary: Commit a quoted full repair exactly once
      security: [{ playerAccess: [] }]
      requestBody:
        required: true
        content:
          application/json: { schema: { $ref: "#/components/schemas/CommitRepair" } }
      responses:
        "201":
          description: Wallet ledger, item durability and transition committed atomically.
          content:
            application/json: { schema: { $ref: "#/components/schemas/RepairResult" } }
        "409": { $ref: "#/components/responses/Conflict" }
  /api/v1/pvp/matchmaking-tickets:
    post:
      tags: [PvP]
      operationId: createMatchmakingTicket
      summary: Create or replay an idempotent server-side matchmaking ticket
      security: [{ playerAccess: [] }]
      requestBody:
        required: true
        content:
          application/json: { schema: { $ref: "#/components/schemas/CreateMatchmakingTicket" } }
      responses:
        "202":
          description: Durable queue or matched state. A matched response deliberately contains no connection ticket.
          content:
            application/json: { schema: { $ref: "#/components/schemas/MatchmakingTicket" } }
        "409": { $ref: "#/components/responses/Conflict" }
        "503": { $ref: "#/components/responses/Conflict" }
  /api/v1/pvp/matchmaking-tickets/{ticketId}:
    get:
      tags: [PvP]
      operationId: getMatchmakingTicket
      summary: Read an owned matchmaking ticket
      security: [{ playerAccess: [] }]
      parameters:
        - name: ticketId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Current durable queue or match state.
          content:
            application/json: { schema: { $ref: "#/components/schemas/MatchmakingTicket" } }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/pvp/matchmaking-tickets/{ticketId}/cancel:
    post:
      tags: [PvP]
      operationId: cancelMatchmakingTicket
      summary: Cancel an owned ticket before it is atomically claimed
      security: [{ playerAccess: [] }]
      parameters:
        - name: ticketId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Cancelled or already-terminal ticket.
          content:
            application/json: { schema: { $ref: "#/components/schemas/MatchmakingTicket" } }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
  /api/v1/pvp/matchmaking-tickets/{ticketId}/connection:
    post:
      tags: [PvP]
      operationId: requestPvpMatchConnection
      summary: Issue or rotate one participant's one-time PvP connection ticket
      security: [{ playerAccess: [] }]
      parameters:
        - name: ticketId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "201":
          description: Fresh 30-second ticket for the owned participant in a matched duel.
          content:
            application/json: { schema: { $ref: "#/components/schemas/PvpBattleParticipantConnection" } }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "503":
          description: Routing or duel runtime is temporarily unavailable.
          content: { application/json: { schema: { $ref: "#/components/schemas/ApiError" } } }
  /api/v1/privacy/preferences:
    get:
      tags: [Privacy]
      operationId: getPrivacyPreferences
      summary: Read server-owned profile visibility and analytics consent
      security: [{ playerAccess: [] }]
      responses:
        "200":
          description: Current privacy preferences.
          content: { application/json: { schema: { $ref: "#/components/schemas/PrivacyPreferences" } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    put:
      tags: [Privacy]
      operationId: updatePrivacyPreferences
      summary: Replace server-owned profile visibility and analytics consent
      security: [{ playerAccess: [] }]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/UpdatePrivacyPreferences" } } }
      responses:
        "200":
          description: Updated privacy preferences. Consent timestamps are assigned by the server.
          content: { application/json: { schema: { $ref: "#/components/schemas/PrivacyPreferences" } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409": { $ref: "#/components/responses/Conflict" }
  /api/v1/privacy/requests:
    post:
      tags: [Privacy]
      operationId: createPrivacyRequest
      summary: Create an idempotent export or deletion request
      description: Deletion immediately withdraws public-profile and analytics consent. Completion is asynchronous and durable.
      security: [{ playerAccess: [] }]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/CreatePrivacyRequest" } } }
      responses:
        "202":
          description: New or previously accepted privacy request.
          content: { application/json: { schema: { $ref: "#/components/schemas/PrivacyRequest" } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409": { $ref: "#/components/responses/Conflict" }
  /api/v1/privacy/requests/{requestId}:
    get:
      tags: [Privacy]
      operationId: getPrivacyRequest
      summary: Read durable status for an owned privacy request
      description: Export status exposes integrity metadata only. Object keys, encryption keys and fabricated download URLs are never returned.
      security: [{ playerAccess: [] }]
      parameters:
        - name: requestId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Owned durable privacy request status.
          content: { application/json: { schema: { $ref: "#/components/schemas/PrivacyRequest" } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/privacy/requests/{requestId}/download:
    post:
      tags: [Privacy]
      operationId: createPrivacyExportDownload
      summary: Create a short-lived owner-only export download URL
      description: Available only for an owned completed, unexpired export. The response contains only an HTTPS URL signed for at most five minutes, not a reusable raw storage key.
      security: [{ playerAccess: [] }]
      parameters:
        - name: requestId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Short-lived HTTPS download URL for the encrypted export object.
          content: { application/json: { schema: { $ref: "#/components/schemas/PrivacyExportDownload" } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/Conflict" }
  /api/v1/developer/clients:
    get:
      tags: [Developer]
      operationId: listDeveloperApiClients
      summary: List API clients owned by the authenticated player
      security: [{ playerAccess: [] }]
      responses:
        "200":
          description: Credential metadata only; secret hashes and raw secrets are never returned.
          content:
            application/json:
              schema: { type: array, items: { $ref: "#/components/schemas/DeveloperApiClient" } }
    post:
      tags: [Developer]
      operationId: createDeveloperApiClient
      summary: Create an API client and reveal its initial OAuth secret once
      security: [{ playerAccess: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [name, scopes]
              properties:
                name: { type: string, minLength: 1, maxLength: 80 }
                scopes: { $ref: "#/components/schemas/PublicApiScopes" }
      responses:
        "201": { description: API client and one-time OAuth client secret. }
        "409": { $ref: "#/components/responses/Conflict" }
  /api/v1/developer/clients/{apiClientId}/oauth-secret/rotate:
    post:
      tags: [Developer]
      operationId: rotateDeveloperOAuthSecret
      summary: Rotate the OAuth secret with a bounded overlap window
      security: [{ playerAccess: [] }]
      parameters: [{ $ref: "#/components/parameters/ApiClientId" }]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/SecretOverlap" } } }
      responses:
        "200": { description: New secret revealed once; previous secret remains valid only until the returned deadline. }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/developer/clients/{apiClientId}/revoke:
    post:
      tags: [Developer]
      operationId: revokeDeveloperApiClient
      summary: Revoke a client, all keys, OAuth secrets and webhook subscriptions
      security: [{ playerAccess: [] }]
      parameters: [{ $ref: "#/components/parameters/ApiClientId" }]
      responses:
        "200": { $ref: "#/components/responses/Ok" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/developer/clients/{apiClientId}/keys:
    post:
      tags: [Developer]
      operationId: createDeveloperApiKey
      summary: Create an API key and reveal it once
      security: [{ playerAccess: [] }]
      parameters: [{ $ref: "#/components/parameters/ApiClientId" }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [name, scopes]
              properties:
                name: { type: string, minLength: 1, maxLength: 80 }
                scopes: { $ref: "#/components/schemas/PublicApiScopes" }
                expiresInDays: { type: [integer, "null"], minimum: 1, maximum: 365, default: 90 }
      responses:
        "201": { description: API key revealed once. }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/developer/clients/{apiClientId}/keys/{apiKeyId}/rotate:
    post:
      tags: [Developer]
      operationId: rotateDeveloperApiKey
      summary: Create a replacement key and expire the previous key after a bounded overlap
      security: [{ playerAccess: [] }]
      parameters:
        - { $ref: "#/components/parameters/ApiClientId" }
        - { $ref: "#/components/parameters/ApiKeyId" }
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/SecretOverlap" } } }
      responses:
        "200": { description: Replacement API key revealed once. }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/developer/clients/{apiClientId}/keys/{apiKeyId}/revoke:
    post:
      tags: [Developer]
      operationId: revokeDeveloperApiKey
      security: [{ playerAccess: [] }]
      parameters:
        - { $ref: "#/components/parameters/ApiClientId" }
        - { $ref: "#/components/parameters/ApiKeyId" }
      responses:
        "200": { $ref: "#/components/responses/Ok" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/developer/clients/{apiClientId}/webhooks:
    post:
      tags: [Developer]
      operationId: createDeveloperWebhook
      summary: Register a public HTTPS webhook and reveal its signing secret once
      security: [{ playerAccess: [] }]
      parameters: [{ $ref: "#/components/parameters/ApiClientId" }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [url, eventTypes]
              properties:
                url: { type: string, format: uri, maxLength: 2048 }
                eventTypes: { $ref: "#/components/schemas/PublicWebhookEventTypes" }
      responses:
        "201": { description: Webhook and signing secret revealed once. }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/developer/clients/{apiClientId}/webhooks/{webhookId}/rotate:
    post:
      tags: [Developer]
      operationId: rotateDeveloperWebhookSecret
      summary: Rotate the signing secret and dual-sign during the bounded overlap
      security: [{ playerAccess: [] }]
      parameters:
        - { $ref: "#/components/parameters/ApiClientId" }
        - { $ref: "#/components/parameters/WebhookId" }
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/SecretOverlap" } } }
      responses:
        "200": { description: New webhook secret revealed once. }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/developer/clients/{apiClientId}/webhooks/{webhookId}/revoke:
    post:
      tags: [Developer]
      operationId: revokeDeveloperWebhook
      security: [{ playerAccess: [] }]
      parameters:
        - { $ref: "#/components/parameters/ApiClientId" }
        - { $ref: "#/components/parameters/WebhookId" }
      responses:
        "200": { $ref: "#/components/responses/Ok" }
        "404": { $ref: "#/components/responses/NotFound" }
  /public/v1/oauth/token:
    post:
      tags: [Public]
      operationId: createPublicAccessToken
      summary: Exchange client credentials for a scoped token
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [grant_type, client_id, client_secret]
              properties:
                grant_type: { const: client_credentials }
                client_id: { type: string }
                client_secret: { type: string }
                scope: { type: string }
      responses:
        "200":
          description: Scoped 10-minute access token.
          content:
            application/json:
              schema:
                type: object
                required: [access_token, token_type, expires_in, scope]
                properties:
                  access_token: { type: string }
                  token_type: { const: Bearer }
                  expires_in: { type: integer, const: 600 }
                  scope: { type: string }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /public/v1/catalog:
    get:
      tags: [Public]
      operationId: getPublicCatalog
      summary: Read the published public catalog
      security: [{ publicApiKey: [] }, { oauthClient: ["catalog:read"] }]
      responses:
        "200":
          description: Published, non-sensitive content catalog.
          content:
            application/json: { schema: { $ref: "#/components/schemas/PublicCatalog" } }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /public/v1/leaderboards:
    get:
      tags: [Public]
      operationId: getPublicLeaderboard
      summary: Read the consent-filtered leaderboard
      security: [{ publicApiKey: [] }, { oauthClient: ["leaderboards:read"] }]
      parameters:
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 100, default: 50 }
      responses:
        "200":
          description: Consent-safe public leaderboard.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/LeaderboardEntry" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /public/v1/profiles/{userId}:
    get:
      tags: [Public]
      operationId: getPublicProfile
      summary: Read a player profile only when that player opted in to public visibility
      security: [{ publicApiKey: [] }, { oauthClient: ["profiles:read"] }]
      parameters:
        - name: userId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Consent-safe public profile without Telegram identity data.
          content:
            application/json: { schema: { $ref: "#/components/schemas/PublicProfile" } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
  /public/v1/stats:
    get:
      tags: [Public]
      operationId: getPublicAggregateStats
      summary: Read privacy-filtered aggregate game statistics
      security: [{ publicApiKey: [] }, { oauthClient: ["stats:read"] }]
      responses:
        "200":
          description: Aggregate statistics containing no player identifiers.
          content:
            application/json: { schema: { $ref: "#/components/schemas/PublicAggregateStats" } }
        "401": { $ref: "#/components/responses/Unauthorized" }
webhooks:
  spaceyEvent:
    post:
      operationId: receiveSpaceyWebhook
      summary: Receive an idempotent signed SpaceY domain event
      security: [{ webhookSignature: [] }]
      description: Verify every comma-separated `v1=<hex>` signature over `<timestamp>.<event-id>.<raw-body>` with `SHA-256(raw webhook secret)` as the HMAC-SHA256 key. Rotation overlap may include both new and previous signatures. Reject stale timestamps and deduplicate by event ID.
      parameters:
        - name: X-SpaceY-Event-Id
          in: header
          required: true
          schema: { type: string, format: uuid }
        - name: X-SpaceY-Event-Type
          in: header
          required: true
          schema: { enum: [content.release.published, leaderboard.updated, season.started, season.ended, aggregate.stats.updated] }
        - name: X-SpaceY-Timestamp
          in: header
          required: true
          schema: { type: string, pattern: "^[0-9]{10,}$" }
        - name: X-SpaceY-Signature
          in: header
          required: true
          schema: { type: string, pattern: "^v1=[a-f0-9]{64}(,v1=[a-f0-9]{64})?$" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SignedWebhookEnvelope" }
      responses:
        "204": { description: Event signature verified and event accepted or already processed. }
        "400": { description: Malformed envelope. }
        "401": { description: Signature or timestamp validation failed. }
components:
  securitySchemes:
    playerAccess:
      type: http
      scheme: bearer
      bearerFormat: JWT
    refreshCookie:
      type: apiKey
      in: cookie
      name: __Host-spacey_refresh
    publicApiKey:
      type: apiKey
      in: header
      name: X-API-Key
    oauthClient:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: /public/v1/oauth/token
          scopes:
            catalog:read: Read published catalog.
            leaderboards:read: Read public leaderboards.
            profiles:read: Read consented public profiles.
            stats:read: Read aggregate statistics.
    webhookSignature:
      type: apiKey
      in: header
      name: X-SpaceY-Signature
  parameters:
    BuildId:
      name: buildId
      in: path
      required: true
      schema: { type: string, format: uuid }
    ApiClientId:
      name: apiClientId
      in: path
      required: true
      schema: { type: string, format: uuid }
    ApiKeyId:
      name: apiKeyId
      in: path
      required: true
      schema: { type: string, format: uuid }
    WebhookId:
      name: webhookId
      in: path
      required: true
      schema: { type: string, format: uuid }
  responses:
    Ok:
      description: Success.
      content:
        application/json:
          schema:
            type: object
            required: [ok]
            properties: { ok: { const: true } }
    Unauthorized:
      description: Authentication failed.
      content: { application/json: { schema: { $ref: "#/components/schemas/ApiError" } } }
    Conflict:
      description: Revision or idempotency conflict.
      content: { application/json: { schema: { $ref: "#/components/schemas/ApiError" } } }
    NotFound:
      description: Resource not found or not owned by the caller.
      content: { application/json: { schema: { $ref: "#/components/schemas/ApiError" } } }
  schemas:
    PublicApiScopes:
      type: array
      minItems: 1
      maxItems: 4
      uniqueItems: true
      items: { enum: ["catalog:read", "leaderboards:read", "profiles:read", "stats:read"] }
    PublicWebhookEventTypes:
      type: array
      minItems: 1
      maxItems: 5
      uniqueItems: true
      items: { enum: [content.release.published, leaderboard.updated, season.started, season.ended, aggregate.stats.updated] }
    SecretOverlap:
      type: object
      additionalProperties: false
      properties:
        overlapSeconds: { type: integer, minimum: 60, maximum: 86400, default: 3600 }
    DeveloperApiClient:
      type: object
      additionalProperties: false
      required: [id, clientId, name, status, scopes, rateLimitPerMinute, previousOAuthSecretValidUntil, createdAt, updatedAt, apiKeys, webhooks]
      properties:
        id: { type: string, format: uuid }
        clientId: { type: string }
        name: { type: string }
        status: { enum: [active, suspended, revoked] }
        scopes: { $ref: "#/components/schemas/PublicApiScopes" }
        rateLimitPerMinute: { type: integer, minimum: 1 }
        previousOAuthSecretValidUntil: { type: [string, "null"], format: date-time }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        apiKeys: { type: array, items: { type: object, additionalProperties: true } }
        webhooks: { type: array, items: { type: object, additionalProperties: true } }
    ApiError:
      type: object
      additionalProperties: false
      required: [error]
      properties:
        error:
          type: object
          required: [code, message, correlationId]
          properties:
            code: { type: string }
            message: { type: string }
            correlationId: { type: string }
            details: { type: object, additionalProperties: true }
    PlayerProfile:
      type: object
      required: [id, telegramUserId, displayName, avatarUrl, locale, createdAt]
      properties:
        id: { type: string, format: uuid }
        telegramUserId: { type: string, pattern: "^[0-9]+$" }
        displayName: { type: string }
        avatarUrl: { type: [string, "null"], format: uri }
        locale: { type: string }
        createdAt: { type: string, format: date-time }
    PrivacyPreferences:
      type: object
      additionalProperties: false
      required: [profilePublic, analyticsConsent, analyticsConsentUpdatedAt, updatedAt]
      properties:
        profilePublic: { type: boolean }
        analyticsConsent: { type: boolean }
        analyticsConsentUpdatedAt: { type: [string, "null"], format: date-time }
        updatedAt: { type: string, format: date-time }
    UpdatePrivacyPreferences:
      type: object
      additionalProperties: false
      required: [profilePublic, analyticsConsent]
      properties:
        profilePublic: { type: boolean }
        analyticsConsent: { type: boolean }
    CreatePrivacyRequest:
      type: object
      additionalProperties: false
      required: [type, idempotencyKey]
      properties:
        type: { enum: [export, delete] }
        idempotencyKey: { type: string, minLength: 16, maxLength: 128 }
    PrivacyRequest:
      type: object
      additionalProperties: false
      required: [id, type, status, requestedAt, processingStartedAt, completedAt, failedAt, failureCode, retentionUntil, exportArtifact]
      properties:
        id: { type: string, format: uuid }
        type: { enum: [export, delete] }
        status: { enum: [pending, processing, completed, failed] }
        requestedAt: { type: string, format: date-time }
        processingStartedAt: { type: [string, "null"], format: date-time }
        completedAt: { type: [string, "null"], format: date-time }
        failedAt: { type: [string, "null"], format: date-time }
        failureCode: { type: [string, "null"] }
        retentionUntil: { type: string, format: date-time }
        exportArtifact:
          oneOf:
            - { type: "null" }
            - type: object
              additionalProperties: false
              required: [state, contentType, contentSha256, sizeBytes, expiresAt]
              properties:
                state: { const: stored_encrypted }
                contentType: { const: application/json }
                contentSha256: { type: string, pattern: "^[a-f0-9]{64}$" }
                sizeBytes: { type: integer, minimum: 0 }
                expiresAt: { type: string, format: date-time }
    PrivacyExportDownload:
      type: object
      additionalProperties: false
      required: [url, expiresAt]
      properties:
        url: { type: string, format: uri, pattern: "^https://" }
        expiresAt: { type: string, format: date-time }
    AuthSession:
      type: object
      required: [accessToken, accessTokenExpiresInSeconds, refreshSessionExpiresAt, profile]
      properties:
        accessToken: { type: string }
        accessTokenExpiresInSeconds: { type: integer }
        refreshSessionExpiresAt: { type: string, format: date-time }
        profile: { $ref: "#/components/schemas/PlayerProfile" }
    RefreshSession:
      type: object
      required: [accessToken, accessTokenExpiresInSeconds, refreshSessionExpiresAt]
      properties:
        accessToken: { type: string }
        accessTokenExpiresInSeconds: { type: integer }
        refreshSessionExpiresAt: { type: string, format: date-time }
    Wallet:
      type: object
      additionalProperties: false
      required: [credits, scrap, alloy, dataShards]
      properties:
        credits: { type: integer, minimum: 0 }
        scrap: { type: integer, minimum: 0 }
        alloy: { type: integer, minimum: 0 }
        dataShards: { type: integer, minimum: 0 }
    InventoryItem:
      type: object
      additionalProperties: false
      required: [id, definitionId, contentVersion, rarity, state, durability, category, shape, stats, visualKey, installedBuildRevisionId, createdAt]
      properties:
        id: { type: string, format: uuid }
        definitionId: { type: string, minLength: 1 }
        contentVersion: { type: string, minLength: 1 }
        rarity: { enum: [common, uncommon, superRare] }
        state: { enum: [available, installed, damaged, destroyed] }
        durability: { type: integer, minimum: 0, maximum: 10000 }
        category: { type: string, minLength: 1 }
        shape:
          type: object
          additionalProperties: false
          required: [cells]
          properties:
            cells:
              type: array
              minItems: 1
              items:
                type: array
                minItems: 2
                maxItems: 2
                items: { type: integer }
        stats: { type: object, additionalProperties: true }
        visualKey: { type: string, minLength: 1 }
        installedBuildRevisionId:
          oneOf:
            - { type: string, format: uuid }
            - { type: "null" }
        createdAt: { type: string, format: date-time }
    Progression:
      type: object
      additionalProperties: false
      required: [level, experience, researchNodeIds, seasonId, seasonRating]
      properties:
        level: { type: integer, minimum: 1 }
        experience: { type: integer, minimum: 0 }
        researchNodeIds: { type: array, uniqueItems: true, items: { type: string, minLength: 1 } }
        seasonId:
          oneOf:
            - { type: string, format: uuid }
            - { type: "null" }
        seasonRating:
          oneOf:
            - { type: integer, minimum: 0 }
            - { type: "null" }
    Mission:
      type: object
      required: [id, contentVersion, name, type, risk, durationSeconds, objective, rewardPreview]
      properties:
        id: { type: string }
        contentVersion: { type: string }
        name: { type: string }
        type: { enum: [salvage, escort, mining, intercept, defense] }
        risk: { enum: [green, yellow, red] }
        briefing: { type: string }
        durationSeconds: { type: integer }
        objective: { type: object, additionalProperties: true }
        rewardPreview: { type: object, additionalProperties: true }
    ShipBuild:
      type: object
      required: [id, activeRevision, updatedAt]
      properties:
        id: { type: string, format: uuid }
        activeRevision: { type: object, additionalProperties: true }
        updatedAt: { type: string, format: date-time }
    BuildCommands:
      type: object
      additionalProperties: false
      required: [expectedRevision, idempotencyKey, commands]
      properties:
        expectedRevision: { type: integer, minimum: 1 }
        idempotencyKey: { type: string, minLength: 16, maxLength: 128 }
        commands:
          type: array
          minItems: 1
          maxItems: 128
          items: { type: object, required: [type], properties: { type: { enum: [rename, install, move, remove] } } }
    Bootstrap:
      type: object
      additionalProperties: false
      required: [serverTime, profile, wallet, activeBuild, inventory, contentRelease, missions, activeGameplay, capabilities]
      properties:
        serverTime: { type: string, format: date-time }
        profile: { $ref: "#/components/schemas/PlayerProfile" }
        wallet: { $ref: "#/components/schemas/Wallet" }
        activeBuild: { oneOf: [{ $ref: "#/components/schemas/ShipBuild" }, { type: "null" }] }
        inventory:
          type: array
          items: { $ref: "#/components/schemas/InventoryItem" }
        contentRelease: { type: object, additionalProperties: true }
        missions: { type: array, items: { $ref: "#/components/schemas/Mission" } }
        activeGameplay: { type: array, items: { $ref: "#/components/schemas/ActiveGameplay" } }
        capabilities:
          type: object
          additionalProperties: false
          required: [pvpMatchmaking, repair]
          properties:
            pvpMatchmaking: { type: boolean }
            repair: { type: boolean }
    BattleConnection:
      type: object
      required: [sessionId, attemptId, mode, websocketUrl, ticket, ticketExpiresAt, protocolVersion]
      properties:
        sessionId: { type: string, format: uuid }
        attemptId: { type: string, format: uuid }
        mode: { enum: [pve, pvp] }
        websocketUrl: { type: string, format: uri }
        ticket: { type: string }
        ticketExpiresAt: { type: string, format: date-time }
        protocolVersion: { type: string }
    PvpBattleParticipantConnection:
      type: object
      additionalProperties: false
      required: [sessionId, attemptId, mode, websocketUrl, ticket, ticketExpiresAt, protocolVersion, matchId, participantId, side]
      properties:
        sessionId: { type: string, format: uuid }
        attemptId: { type: string, format: uuid }
        mode: { const: pvp }
        websocketUrl: { type: string, format: uri }
        ticket: { type: string, minLength: 1 }
        ticketExpiresAt: { type: string, format: date-time }
        protocolVersion: { type: string, minLength: 1 }
        matchId: { type: string, format: uuid }
        participantId: { type: string, format: uuid }
        side: { enum: [0, 1] }
    CreateMatchmakingTicket:
      type: object
      additionalProperties: false
      required: [shipBuildRevisionId, queue, idempotencyKey]
      properties:
        shipBuildRevisionId: { type: string, format: uuid }
        queue: { type: string, pattern: "^[a-z0-9][a-z0-9_-]{0,63}$" }
        idempotencyKey: { type: string, minLength: 16, maxLength: 128 }
    MatchmakingTicket:
      type: object
      additionalProperties: false
      required: [id, queue, region, mmr, status, createdAt, expiresAt, match]
      properties:
        id: { type: string, format: uuid }
        queue: { type: string }
        region: { type: string }
        mmr: { type: integer, minimum: 0 }
        status: { enum: [queued, matched, completed, cancelled, expired, failed] }
        createdAt: { type: string, format: date-time }
        expiresAt: { type: string, format: date-time }
        match:
          oneOf:
            - { type: "null" }
            - type: object
              additionalProperties: false
              required: [matchId, sessionId, attemptId, runtimeState, connection]
              properties:
                matchId: { type: string, format: uuid }
                sessionId: { type: string, format: uuid }
                attemptId: { type: string, format: uuid }
                runtimeState: { enum: [duel_protocol_unavailable, ready] }
                connection: { type: "null" }
    MissionAttemptStatus:
      type: object
      required: [attemptId, sessionId, status, resultId, reconnect]
      properties:
        attemptId: { type: string, format: uuid }
        sessionId: { type: string, format: uuid }
        status: { enum: [queued, active, paused, completed, failed] }
        resultId: { type: [string, "null"], format: uuid }
        reconnect: { type: object, additionalProperties: true }
    ActiveGameplay:
      oneOf:
        - type: object
          additionalProperties: false
          required: [mode, attempt]
          properties:
            mode: { const: pve }
            attempt: { $ref: "#/components/schemas/MissionAttemptStatus" }
        - type: object
          additionalProperties: false
          required: [mode, matchmakingTicket, attempt]
          properties:
            mode: { const: pvp }
            matchmakingTicket: { $ref: "#/components/schemas/MatchmakingTicket" }
            attempt:
              oneOf:
                - { $ref: "#/components/schemas/MissionAttemptStatus" }
                - { type: "null" }
      discriminator:
        propertyName: mode
    BattleResult:
      type: object
      additionalProperties: false
      required: [id, attemptId, mode, outcome, reason, mission, durationTicks, finalStateHash, rewards, grantedItems, experience, walletAfter, progressionAfter, moduleDamage, mmr, replayStatus, finalizedAt]
      properties:
        id: { type: string, format: uuid }
        attemptId: { type: string, format: uuid }
        mode: { enum: [pve, pvp] }
        outcome: { enum: [victory, defeat, forfeit, draw] }
        reason: { type: string }
        mission:
          type: object
          additionalProperties: false
          required: [id, name]
          properties:
            id: { type: string }
            name: { type: string }
        durationTicks: { type: integer, minimum: 0 }
        finalStateHash: { type: string, pattern: "^[a-f0-9]{64}$" }
        rewards:
          type: object
          additionalProperties: false
          properties:
            credits: { type: integer, minimum: 0 }
            scrap: { type: integer, minimum: 0 }
            alloy: { type: integer, minimum: 0 }
            dataShards: { type: integer, minimum: 0 }
        grantedItems:
          type: array
          items:
            type: object
            additionalProperties: false
            required: [inventoryItemId, definitionId, rarity]
            properties:
              inventoryItemId: { type: string, format: uuid }
              definitionId: { type: string, minLength: 1 }
              rarity: { enum: [common, uncommon, superRare] }
        experience: { type: integer, minimum: 0 }
        walletAfter: { $ref: "#/components/schemas/Wallet" }
        progressionAfter: { $ref: "#/components/schemas/Progression" }
        moduleDamage:
          type: array
          items:
            type: object
            additionalProperties: false
            required: [inventoryItemId, definitionId, durabilityBefore, durabilityAfter, damage, state]
            properties:
              inventoryItemId: { type: string, format: uuid }
              definitionId: { type: string, minLength: 1 }
              durabilityBefore: { type: integer, minimum: 1, maximum: 10000 }
              durabilityAfter: { type: integer, minimum: 0, maximum: 9999 }
              damage: { type: integer, minimum: 1, maximum: 10000 }
              state: { enum: [available, installed, damaged, destroyed] }
        mmr:
          oneOf:
            - { type: "null" }
            - type: object
              additionalProperties: false
              required: [before, after]
              properties:
                before: { type: integer, minimum: 0 }
                after: { type: integer, minimum: 0 }
        replayStatus: { enum: [pending, available, failed] }
        finalizedAt: { type: string, format: date-time }
    CreateRepairQuote:
      type: object
      additionalProperties: false
      required: [inventoryItemId, idempotencyKey]
      properties:
        inventoryItemId: { type: string, format: uuid }
        idempotencyKey: { type: string, minLength: 16, maxLength: 128 }
    RepairQuote:
      type: object
      additionalProperties: false
      required: [id, inventoryItemId, definitionId, durabilityBefore, durabilityAfter, currency, cost, expiresAt]
      properties:
        id: { type: string, format: uuid }
        inventoryItemId: { type: string, format: uuid }
        definitionId: { type: string }
        durabilityBefore: { type: integer, minimum: 1, maximum: 9999 }
        durabilityAfter: { const: 10000 }
        currency: { const: credits }
        cost: { type: integer, minimum: 1 }
        expiresAt: { type: string, format: date-time }
    CommitRepair:
      type: object
      additionalProperties: false
      required: [quoteId, idempotencyKey]
      properties:
        quoteId: { type: string, format: uuid }
        idempotencyKey: { type: string, minLength: 16, maxLength: 128 }
    RepairResult:
      type: object
      additionalProperties: false
      required: [quoteId, inventoryItem, walletAfter, ledgerEntryId, repairedAt]
      properties:
        quoteId: { type: string, format: uuid }
        inventoryItem: { $ref: "#/components/schemas/InventoryItem" }
        walletAfter: { $ref: "#/components/schemas/Wallet" }
        ledgerEntryId: { type: string, format: uuid }
        repairedAt: { type: string, format: date-time }
    PublicCatalog:
      type: object
      required: [contentRelease, missions]
      properties:
        contentRelease: { type: object, additionalProperties: true }
        missions: { type: array, items: { $ref: "#/components/schemas/Mission" } }
    LeaderboardEntry:
      type: object
      required: [rank, publicPlayerId, displayName, score]
      properties:
        rank: { type: integer, minimum: 1 }
        publicPlayerId: { type: string }
        displayName: { type: string }
        score: { type: integer }
    PublicProfile:
      type: object
      additionalProperties: false
      required: [id, displayName, avatarUrl, joinedAt, level, seasonRating, wins, losses, draws]
      properties:
        id: { type: string, format: uuid }
        displayName: { type: string }
        avatarUrl: { type: [string, "null"], format: uri }
        joinedAt: { type: string, format: date-time }
        level: { type: integer, minimum: 1 }
        seasonRating: { type: [integer, "null"] }
        wins: { type: integer, minimum: 0 }
        losses: { type: integer, minimum: 0 }
        draws: { type: integer, minimum: 0 }
    PublicAggregateStats:
      type: object
      additionalProperties: false
      required: [generatedAt, consentedPlayers, completedBattles, completedPvpMatches, publishedContentVersion]
      properties:
        generatedAt: { type: string, format: date-time }
        consentedPlayers: { type: integer, minimum: 0 }
        completedBattles: { type: integer, minimum: 0 }
        completedPvpMatches: { type: integer, minimum: 0 }
        publishedContentVersion: { type: [string, "null"] }
    SignedWebhookEnvelope:
      type: object
      additionalProperties: false
      required: [id, type, apiVersion, createdAt, data]
      properties:
        id: { type: string, format: uuid }
        type: { enum: [content.release.published, leaderboard.updated, season.started, season.ended, aggregate.stats.updated] }
        apiVersion: { const: "1.0" }
        createdAt: { type: string, format: date-time }
        data:
          type: object
          additionalProperties: false
          required: [aggregate, payload]
          properties:
            aggregate:
              type: object
              additionalProperties: false
              required: [type, id]
              properties:
                type: { type: string }
                id: { type: string }
            payload: {}
    LegacyBuildImport:
      type: object
      additionalProperties: false
      required: [schemaVersion, sourceBuildId, name, frameId, parts]
      properties:
        schemaVersion: { const: 3 }
        sourceBuildId: { type: string, maxLength: 128 }
        name: { type: string, minLength: 1, maxLength: 64 }
        frameId: { type: string, maxLength: 128 }
        cabin: { type: object, additionalProperties: true }
        parts:
          type: array
          maxItems: 256
          items:
            type: object
            required: [sourceInstanceId, kind, definitionId, gridX, gridY, rotation]
            properties:
              sourceInstanceId: { type: string }
              kind: { enum: [panel, module, element] }
              definitionId: { type: string }
              gridX: { type: integer, minimum: -64, maximum: 64 }
              gridY: { type: integer, minimum: -64, maximum: 64 }
              rotation: { enum: [0, 90, 180, 270] }
